@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "FontNexa";
    src: url("../assets/Nexa-Heavy.ttf");
  }



body {
    background: rgba(0, 0, 0, 0.98);
    color: white;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "FontNexa";
}


.fondo {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30em;
    height: 100vh;
}


body {
    font-size: 100%;
}

p {
    font-weight: 200;
}

@media (max-width: 768px) {
    body {
        font-size: 90%;
    }
    .fondo {
        width: 25em;
    }
}

@media (max-width: 600px) {
    .fondo {
        width: 20em;
    }
}

@media (max-width: 520px) {
    .fondo {
        width: 15em;
    }
}


@media (max-width: 300px) {
    .fondo {
       
        width: 20em;
     
    }
}





